html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  appearance: button;
  cursor: pointer;
}
